.sunlight-highlighted {
	font-family: Consolas;
	font-size: 16px;
	white-space: pre;
}

/* html */
.sunlight-highlight-html .sunlight-string {
	color: #990099;
}
.sunlight-highlight-html .sunlight-comment {
	color: #009900;
}
.sunlight-highlight-html .sunlight-cdata {
	color: #CC6600;
}
.sunlight-highlight-html .sunlight-content {
	color: #000000;
}
.sunlight-highlight-html .sunlight-ident, .sunlight-highlight-html .sunlight-operator {
	color: #0000FF;
}
.sunlight-highlight-html .sunlight-named-ident {
	color: #FF0000;
}
.sunlight-highlight-html .sunlight-doctype {
	color: #339999;
}

/* php */
.sunlight-highlight-php .sunlight-keyword, .sunlight-highlight-php .sunlight-language-construct {
	color: #0000CC;
	text-decoration: none;
}
.sunlight-highlight-php .sunlight-operator {
	color: #000000;
}
.sunlight-highlight-php .sunlight-string, .sunlight-highlight-php .sunlight-heredoc, .sunlight-highlight-php .sunlight-nowdoc {
	color: #990000;
}
.sunlight-highlight-php .sunlight-comment {
	color: #009900;
}
.sunlight-highlight-php .sunlight-number {
	color: #CC6600;
}
.sunlight-highlight-php .sunlight-punctuation, .sunlight-highlight-php .sunlight-ident {
	color: #000000;
}
.sunlight-highlight-php .sunlight-named-ident, .sunlight-highlight-php .sunlight-constant {
	color: #2B91AF;
}
.sunlight-highlight-php .sunlight-variable {
	color: #663366;
}
.sunlight-highlight-php .sunlight-function {
	color: #56822E;
	text-decoration: none;
}

/* c# */
.sunlight-highlight-csharp .sunlight-keyword {
	color: #0000CC;
}
.sunlight-highlight-csharp .sunlight-operator {
	color: #000000;
}
.sunlight-highlight-csharp .sunlight-string {
	color: #990000;
}
.sunlight-highlight-csharp .sunlight-comment, .sunlight-highlight-csharp .sunlight-xml-doc-comment-content {
	color: #009900;
}
.sunlight-highlight-csharp .sunlight-number {
	color: #CC6600;
}
.sunlight-highlight-csharp .sunlight-punctuation {
	color: #000000;
}
.sunlight-highlight-csharp .sunlight-ident {
	color: #000000;
}
.sunlight-highlight-csharp .sunlight-named-ident {
	color: #2B91AF;
}
.sunlight-highlight-csharp .sunlight-pragma {
	color: #999999;
	font-style: italic;
}
.sunlight-highlight-csharp .sunlight-xml-doc-comment-meta {
	color: #808080;
}

/* html */
.sunlight-highlight-html .sunlight-string {
	color: #990099;
}
.sunlight-highlight-html .sunlight-comment {
	color: #009900;
}
.sunlight-highlight-html .sunlight-cdata {
	color: #CC6600;
}
.sunlight-highlight-html .sunlight-content {
	color: #000000;
}
.sunlight-highlight-html .sunlight-ident, .sunlight-highlight-html .sunlight-operator {
	color: #0000FF;
}
.sunlight-highlight-html .sunlight-named-ident {
	color: #FF0000;
}
.sunlight-highlight-html .sunlight-doctype {
	color: #339999;
}

/* xml */
.sunlight-highlight-xml .sunlight-string {
	color: #990099;
}
.sunlight-highlight-xml .sunlight-comment {
	color: #009900;
}
.sunlight-highlight-xml .sunlight-cdata {
	color: #CC6600;
}
.sunlight-highlight-xml .sunlight-content {
	color: #000000;
}
.sunlight-highlight-xml .sunlight-ident, .sunlight-highlight-xml .sunlight-operator {
	color: #0000FF;
}
.sunlight-highlight-xml .sunlight-named-ident {
	color: #FF0000;
}

/* javascript */
.sunlight-highlight-javascript .sunlight-keyword {
	color: #0000CC;
}
.sunlight-highlight-javascript .sunlight-operator {
	color: #000000;
}
.sunlight-highlight-javascript .sunlight-string {
	color: #990000;
}
.sunlight-highlight-javascript .sunlight-comment {
	color: #009900;
}
.sunlight-highlight-javascript .sunlight-number {
	color: #CC6600;
}
.sunlight-highlight-javascript .sunlight-punctuation, .sunlight-highlight-javascript .sunlight-ident {
	color: #000000;
}
.sunlight-highlight-javascript .sunlight-named-ident, .sunlight-highlight-javascript .sunlight-global-variable, .sunlight-highlight-javascript .sunlight-global-object {
	color: #2B91AF;
}
.sunlight-highlight-javascript .sunlight-variable {
	color: #663366;
}
.sunlight-highlight-javascript .sunlight-regex-literal {
	color: #000000;
	background-color: #FFFE47;
}
.sunlight-highlight-javascript .sunlight-reserved-word {
	font-style: italic;
}
.sunlight-highlight-javascript .sunlight-global-function {
	color: #B069AF;
}