/* global styles */
.sunlight-container {
	clear: both;
}
.sunlight-container * {
	white-space: pre;
}
.sunlight-highlighted, .sunlight-container {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Consolas, Inconsolata, Monaco, "Courier New";
	font-size: 12px !important;
	line-height: 15px !important;
}
.sunlight-container .sunlight-line-number-margin {
	float: left;
	margin-right: 5px;
	margin-top: 0;
	padding: 0;
	padding-right: 2px !important;
	padding-left: 2px !important;
	border-right: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	color: #848484;
}
.sunlight-highlighted a {
	border: none !important;
	text-decoration: none !important;
	font-weight: normal !important;
	font-style: normal !important;
}

.sunlight-string {
	color: #990000;
}
.sunlight-ident, .sunlight-operator, .sunlight-punctuation {
	color: #000000;
}
.sunlight-comment {
	color: #009900;
}
.sunlight-number {
	color: #CC6600;
}
.sunlight-named-ident {
	color: #2B91AF;
}
.sunlight-keyword {
	color: #0000FF;
}

/* multi language stuff */
.sunlight-shortOpenTag, .sunlight-openTag, .sunlight-closeTag, .sunlight-xmlOpenTag, .sunlight-xmlCloseTag {
	background-color: #FFFF99;
	color: #000000;
}
.sunlight-content {
	color: #000000;
}
.sunlight-function {
	color: #B069AF;
}

/* html/xml */
.sunlight-html .sunlight-string, .sunlight-xml .sunlight-string {
	color: #990099;
}
.sunlight-cdata {
	color: #CC6600;
}
.sunlight-html .sunlight-ident, .sunlight-html .sunlight-operator, .sunlight-xml .sunlight-ident, .sunlight-xml .sunlight-operator {
	color: #0000FF;
}
.sunlight-html .sunlight-named-ident, .sunlight-xml .sunlight-named-ident {
	color: #FF0000;
}
.sunlight-html .sunlight-entity, .sunlight-xml .sunlight-entity {
	background-color: #EEEEEE;
	color: #000000;
	border: 1px solid #000000;
}

/* html */
.sunlight-html .sunlight-doctype {
	color: #2B91AF;
}


/* php */
.sunlight-php .sunlight-languageConstruct {
	color: #0000CC;
}
.sunlight-php .sunlight-heredoc, .sunlight-php .sunlight-nowdoc {
	color: #990000;
}
.sunlight-php .sunlight-constant {
	color: #2B91AF;
}
.sunlight-php .sunlight-variable {
	color: #663366;
}
.sunlight-php .sunlight-function {
	text-decoration: none;
}

/* c# */
.sunlight-csharp .sunlight-xmlDocCommentContent {
	color: #009900;
}
.sunlight-csharp .sunlight-pragma {
	color: #999999;
	font-style: italic;
}
.sunlight-csharp .sunlight-xmlDocCommentMeta {
	color: #808080;
}


/* javascript */
.sunlight-javascript .sunlight-globalVariable, .sunlight-javascript .sunlight-globalObject {
	color: #2B91AF;
}
.sunlight-javascript .sunlight-reservedWord {
	font-style: italic;
}
.sunlight-javascript .sunlight-globalFunction {
	color: #B069AF;
}
.sunlight-javascript .sunlight-regexLiteral {
	color: #FF00B2;
}

/* mysql */
.sunlight-mysql .sunlight-quotedIdent {
	color: #999900;
}

/* css */
.sunlight-css .sunlight-microsoftFilterPrefix {
	color: magenta;
}
.sunlight-css .sunlight-element {
	color: #0000FF;
}
.sunlight-css .sunlight-named-ident {
	color: #000099;
}
.sunlight-css .sunlight-rule {
	color: #0099FF;
}
.sunlight-css .sunlight-keyword {
	color: #4E65B8;
}
.sunlight-css .sunlight-class {
	color: #FF0000;
}
.sunlight-css .sunlight-id {
	color: #8A8E13;
}
.sunlight-css .sunlight-pseudoClass, .sunlight-css .sunlight-pseudoElement {
	color: #368B87;
}