/* global styles */
.sunlight-container {
	clear: both;
	border: 1px solid #626262 !important;
}
.sunlight-container * {
	white-space: pre;
}
.sunlight-highlighted, .sunlight-container {
	background-color: #262626 !important;
	color: #FFFFFF !important;
	font-family: Consolas, Inconsolata, Monaco, "Courier New" !important;
	font-size: 12px !important;
	line-height: 15px !important;
	margin: 0 !important;
}
.sunlight-container > .sunlight-highlighted {
	overflow-x: auto;
}
.sunlight-line-number-margin {
	float: left !important;
	margin-right: 5px !important;
	margin-top: 0 !important;
	padding: 0 !important;
	padding-right: 4px !important;
	padding-left: 4px !important;
	border-right: 1px solid #9A9A9A !important;
	background-color: #3E3E3E !important;
	color: #9A9A9A !important;
	text-align: right !important;
}
.sunlight-highlighted a, .sunlight-line-number-margin a {
	border: none !important;
	text-decoration: none !important;
	font-style: normal !important;
	padding: 0 !important;
}
.sunlight-line-number-margin a {
	color: inherit !important;
}

.sunlight-string, .sunlight-heredoc, .sunlight-nowdoc {
	color: #55EB54 !important;
}
.sunlight-operator, .sunlight-punctuation {
	color: #B1EDEC !important;
}
.sunlight-ident {
	color: #E0E0E0 !important;
	font-weight: bold !important;
}
.sunlight-comment, .sunlight-xmlDocCommentContent {
	color: #787D31 !important;
}
.sunlight-number, .sunlight-cdata {
	color: #F7BA7E !important;
	font-weight: bold !important;
}
.sunlight-named-ident, .sunlight-constant, .sunlight-globalVariable, .sunlight-globalObject, .sunlight-css .sunlight-id {
	color: #FBBDEE !important;
	font-weight: bold !important;
}
.sunlight-keyword, .sunlight-languageConstruct, .sunlight-html .sunlight-ident, .sunlight-html .sunlight-operator, .sunlight-xml .sunlight-ident, .sunlight-xml .sunlight-operator {
	color: #A3CCF7 !important;
	font-weight: bold !important;
}
.sunlight-shortOpenTag, .sunlight-openTag, .sunlight-closeTag, .sunlight-xmlOpenTag, .sunlight-xmlCloseTag {
	background-color: #7373C1 !important;
}
.sunlight-content {
	color: #FFFFFF !important;
	font-weight: bold !important;
}
.sunlight-function, .sunlight-globalFunction {
	color: #D3A690 !important;
	font-weight: bold !important;
}

/* html/xml */
.sunlight-html .sunlight-ident, .sunlight-xml .sunlight-ident, .sunlight-xml .sunlight-operator, .sunlight-html .sunlight-operator, .sunlight-html .sunlight-named-ident, .sunlight-xml .sunlight-named-ident {
	font-weight: normal !important;
}
.sunlight-doctype {
	color: #DEB9B2 !important;
	font-style: italic !important;
}
.sunlight-html .sunlight-entity, .sunlight-xml .sunlight-entity {
	background-color: #E6E585 !important;
	color: #000000 !important;
}

/* php */
.sunlight-php .sunlight-variable {
	color: #FFFFFF !important;
	font-weight: bold !important;
}

/* c# */
.sunlight-csharp .sunlight-pragma {
	color: #666363 !important;
	font-style: italic !important;
}
.sunlight-csharp .sunlight-xmlDocCommentMeta {
	color: #666363 !important;
}


/* javascript */
.sunlight-javascript .sunlight-reservedWord {
	font-style: italic !important;
}
.sunlight-javascript .sunlight-regexLiteral {
	color: #E0F16A !important;
}

/* mysql */
.sunlight-mysql .sunlight-quotedIdent {
	color: #FBFA9C !important;
}

/* css */
.sunlight-css .sunlight-element {
	color: #E9EE97 !important;
}
.sunlight-css .sunlight-microsoftFilterPrefix {
	color: #C9FF9F !important;
}
.sunlight-css .sunlight-rule {
	color: #0099FF !important;
}
.sunlight-css .sunlight-class {
	color: #E78282 !important;
}
.sunlight-css .sunlight-pseudoClass, .sunlight-css .sunlight-pseudoElement {
	color: #73D693 !important;
}