
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.mir { letter-spacing : -1000em; }
/*\*/html>body .mir { letter-spacing : normal; text-indent : -999em; overflow : hidden;}



/* defaults */

html {
	height: 100%;
}
body {
	height: 100%;
}
ul, ol {
	list-style-position: outside;
	margin-left: 20px;
	padding: 5px;
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}
li {
	padding: 2px 1px;
	margin: 1px 0;
}
dt {
	font-weight: bold;
	padding: 2px;
}
dd {
	margin-left: 20px;
	padding: 2px;
}
ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.menu li {
	margin: 0;
	padding: 0;
}

.centered-list {
    overflow: hidden;
    width: 100%;
}
.centered-list > * {
    float: left;
    left: 50%;
    position: relative;
}
.centered-list > * > * {
    float: left;
    position: relative;
    right: 50%;
}
.centered-list ul {
    margin: 0;
}
/***************** end reset ***************/

body {
	background-color: #FCFCE4;
	color: #635C1F;
	font-family: Aller, Calibri, "Trebuchet MS", Arial;
	font-size: 12pt;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 2em;
}
p {
	padding: 3px;
	margin-bottom: 4px;
	line-height: 1.3em;
}
a {
	color: #CF9F40;
	text-decoration: none;
	border-bottom: 2px solid #000000;
	font-weight: bold;
}
a:hover {
	color: #FC767A;
}
code, tt, pre {
	font-family: Consolas, Inconsolata, Monaco, "Courier New";
}

.content-container {
	width: 800px;
	margin: auto;
}

#logo {
	background: transparent url(logo.png) no-repeat;
	height: 200px;
	width: 800px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#main {
	padding-bottom: 210px;
}

#header {
	background: #FFC456 url(header.png) repeat-x;
}
#header, #footer {
	text-align: center;
	height: 200px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #FFC456 url(footer.png) repeat-x;
	color: #FFFFFF;
}
#footer a {
	color: #FFFFFF;
	border: none;
}
#footer p:first-child {
	margin-top: 80px;
}
#footer p {
	line-height: .6em;
}
#footer .copyright {
	cursor: help;
}

#skip-to-content {
	display: none;
}
#download-languages-toggle + ul {
	display: none;
}

#nav li {
	float: left;
	margin: 0 3px;
}
#nav li a {
	display: block;
	padding: 3px 10px 2px 10px;
	font-size: 120%;
	color: #000000;
	border-bottom: 2px solid #CF9F40;
}
#nav li a:hover {
	border-color: #000000;
}

.box {
	margin-top: 25px;
	padding: 5px;
	clear: left;
	background-color: #FFEDC9;
	border-left: 2px solid #675834;
	border-bottom: 2px solid #675834;
	opacity: 0.75;
	overflow: hidden;
}
.box h2, #nav h2 {
	display: none;
}
.box:hover {
	opacity: 1;
}
.box-content {
	float: left;
	width: 638px;
}
.box-left {
	float: left;
	width: 150px;
	padding-bottom: 600px;
	margin-bottom: -600px;
}
.box-icon {
	width: 150px;
	height: 150px;
}
.download-icon {
	background-image: url(download.png);
}
.demo-icon {
	background-image: url(demo.png);
}
.about-icon {
	background-image: url(about.png);
}
